<!DOCTYPE html>
<html>
  <head>
    <title>credits</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Credits</h1>
    <p>Alfonso Cebollero</p>
    <p>Daniel Lledo</p>
    <img src="https://vignette.wikia.nocookie.net/lotr/images/e/e4/Minas_Tirith.jpg/revision/latest?cb=20141228214636" >
  </body>
</html>
